name: Continuous integration

on:
  push:
    branches:
      - 'main'
      - 'netcore'
  pull_request:
    branches:
      - '*'
      - '!main'
jobs:
  build_test_pack:
    name: Build, test & pack
    runs-on: ubuntu-latest
    env:
      buildConfiguration: release
      buildNumber: ${{ github.RUN_NUMBER }}
      isProduction: ${{ github.ref == 'refs/heads/main' }}  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1
        with:
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Restore
        run: dotnet restore EPiServer.Amazon.sln --configfile NuGet.config
      - name: Build 
        run: dotnet build --no-restore --configuration $buildConfiguration 
      - name: Test
        run: dotnet test --no-build --configuration $buildConfiguration
      - name: Pack
        shell: pwsh
        run: |
          ./build/pack.ps1 
      - name: Publish packages
        run: dotnet nuget push artifacts/**/*.nupkg --skip-duplicate -k ${{ secrets.GITHUB_TOKEN }}

